---

- name: Show message if the system would like to be rebooted
  ansible.builtin.debug:
    msg: The system would like to be rebooted due to package upgrades and/or running services
  when: reboot_required

- name: Send notification to pushover
  ansible.builtin.uri:
    url: https://api.pushover.net/1/messages.json
    method: POST
    body_format: form-urlencoded
    status_code: 200
    body:
      user: "{{ os_upgrade_pushover_userkey }}"
      token: "{{ os_upgrade_pushover_appkey }}"
      message: "{{ ansible_facts.hostname }} will be rebooted!"
  no_log: false
  failed_when: false
  when:
    - reboot_required
    - os_upgrade_pushover_userkey | default('', true) | length > 0
    - os_upgrade_pushover_appkey | default('', true) | length > 0

- name: Reboot system after package upgrade
  ansible.builtin.reboot:
    msg: "Reboot initiated by Ansible for package upgrade"
    connect_timeout: 5
    reboot_timeout: 300
    pre_reboot_delay: 0
    post_reboot_delay: 60
    test_command: uptime
  when: os_upgrade_do_reboot or (reboot_required | default(false, true) and os_upgrade_reboot_if_required)
  become: true
  become_user: root
