---
- name: Update packages on Red Hat systems # noqa package-latest
  ansible.builtin.dnf:
    name: '*'
    state: latest
    update_cache: true
  become: true
  become_user: root

- name: Autoremove no longer required packages installed as dependencies on Red Hat systems
  ansible.builtin.dnf:
    autoremove: true
  become: true
  become_user: root

- name: Remove cached package files on Red Hat systems
  ansible.builtin.command:
    argv:
      - dnf
      - clean
      - packages
  become: true
  become_user: root
  changed_when: true
  when: os_upgrade_clean_package_files
