---
- name: Update packages on Red Hat systems # noqa package-latest
  ansible.builtin.dnf:
    name: '*'
    state: latest
    update_cache: true
  register: os_upgrade_package_upgrade
  become: true
  become_user: root

- name: Autoremove no longer required packages installed as dependencies on Red Hat systems
  ansible.builtin.dnf:
    autoremove: true
  become: true
  become_user: root

- name: Remove cached package files on Red Hat systems
  ansible.builtin.command:
    argv:
      - dnf
      - clean
      - packages
  become: true
  become_user: root
  changed_when: true
  when:
    - os_upgrade_clean_package_files
    - os_upgrade_package_upgrade.changed

- name: Check if needs-restarting would like to reboot the Red Hat system
  ansible.builtin.command:
    argv:
      - dnf
      - needs-restarting
      - -r
  register: needs_rebooting_r
  changed_when: false
  failed_when: needs_rebooting_r.rc not in [0, 1]
  become: true
  become_user: root

- name: Check if needs-restarting would like to reboot the Red Hat system for running processes
  ansible.builtin.command:
    argv:
      - dnf
      - needs-restarting
      - -s
  register: needs_rebooting_s
  changed_when: false
  failed_when: needs_rebooting_s.rc not in [0, 102]
  become: true
  become_user: root

- name: Determine if the Red Hat system requires a reboot
  ansible.builtin.set_fact:
    reboot_required: "{{ (needs_rebooting_r.rc == 1) or (needs_rebooting_s.rc == 102) }}"
